<h1 class="text-center">DIA TShoot</h1>

<div class="w-25 py-5 bg-secondary mx-auto">
  <div class="mb-3 ml-3 text-white">
    <div class="form-check-inline">
      <label class="form-check-label">
        <input type="radio" name="updown" id="up" checked (change)="onRdoChanged(up, ipt, smt)" #up> UP CPE
      </label>
    </div>
    <div class="form-check-inline">    
      <label class="form-check-label">
      <input type="radio" name="updown" id="down" (change)="onRdoChanged(down, ipt, smt)" #down> DOWN CPE
    </label></div>
  </div>
<div class="mb-3">
  <form [formGroup]="formdata" (ngSubmit)="onSmtClicked(ipt, smt)">
    <p class="w-75 mx-auto text-danger" *ngIf="error">* Required</p>
    <input class="form-control form-control-lg w-75 mx-auto" type="text" placeholder="Circuit_ID" formControlName="ipt" #ipt><br>
    <input class="btn btn-outline-warning float-right mr-4" type="submit" value="Next" #smt>
  </form>
</div>
</div>
<router-outlet></router-outlet>